body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 69px;
}

.header {
    width: 66%; 
    display: flex;
    
}


.header h1 {
    font-size: 50px;
    font-weight: 500;
}

.photoLayout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 23px;
}

.photoLayout img {
    width: 300px;
    height: 200px;
}