.photosCont {
    display: flex;
}


.photoLayout1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
}

.photoLayout1 figure:nth-child(1) {
    grid-row-start: 3;
    grid-column-start: 1;
}

.photoLayout1 figure:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 2;
}

.photoLayout1 figure:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 3;
}

.photoLayout1 figure:nth-child(4) {
    grid-row-start: 3;
    grid-column-start: 3;
}


.photoLayout2 {
    
}



img {
    width: 300px;
    height: 200px;
    

}