body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 69px;
}


.header {
    width: 66%; 
    display: flex;
    
}


.header h1 {
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 12px;
}


.photoLayout {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 200px 200px;
    gap: 24px;
}


.photoLayout figure:nth-child(3) {
    grid-column-start: 4;
    grid-row-start: 1;
}

.photoLayout figure:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.photoLayout figure:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 2;
}


img {
    width: 300px;
    height: 200px;
    box-shadow: 5px 4px 5px 0px #6d6d6d;

}